venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

archive/

# raw/processed data and model weights
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# secrets
.env

# research papers
*.pdf
*.tex